*{
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
img{
    display: block;
    width: 100%;
    max-width:100%;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}
.main-header__contactInfo__phone{
    background: #DE423A;
    color: aliceblue;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfo__Address{
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]:before{
    position: relative;
    top: 2px;
    right: 5px;
}
.social-icon{
    display: flex;
    justify-content: space-between;
}
.social-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: aliceblue;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration: none;
}
.mostrar{
    height: 220px;
}
.contenedor{
    padding: 40px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
#valoracion{
    color: goldenrod;
    font-family: 'Bangers', cursive;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
}
.info{
    background: none;
    color: black;
    font-weight: bold;
}
.price{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: red;
}
.g{
    font-weight: bold;
}
#des{
    background: none;
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    padding: 40px;
    height: 50px;
    width: 1226px;
}
.b2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: aqua;
    color: black;
    padding: 40px;
    height: 30px;
    width: 100%;
}
.b2>.bt2{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
    font-family: 'Pacifico', cursive;
}
.b2> ::placeholder{
    color: black;
    font-family: 'Pacifico', cursive;
}
.bo2{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
::placeholder{
    color: aliceblue;
}
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
}
.boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.group--color .container{
    background: #333333;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-size: 1.0em;
    font-family: 'Squada One', cursive;

}
.main__title{
    margin: 15px 0;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    font-weight: 100; 
}
.column__title{
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;
}
.column__txt{
    font-family: 'Squada One', cursive;
}
.main__about__descrition .column:nth-child(2){
    padding: 10px;
}
.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #DE423A;
    color: aliceblue;
    padding: 10px;
    margin: 10px auto;
}
.btn:hover{
    background: aqua;
    color: black;
    font-weight: bold;
}
.today-special .column{
    margin-bottom: 0px;
    text-align: center;
}
.today-special__img{
    margin: auto;
    max-width: 350px;
}
.today-special__title{
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Galada', cursive;
}
.today-special__price{
    font-size: 1.0em;
    color: #DE423A;
    font-weight: bold;
    font-family: 'Anton', sans-serif;

}
.group__title{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}
section{
    width: 100%;
    margin-bottom: 25px;
}
h4{
  text-align: center;
}
.main-footer{
    background: #222;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
}
.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer [class*="icon-"]{
    color: aliceblue;
    text-decoration: none;
}
.main-footer [class*="icon-"]::before{
    position: relative;
    top: 3px;
    right: 5px;
}
.main-footer .column__title{
    font-family: 'Squada One', cursive;
}
@media screen and (min-width:480px){
    .buscar:hover> .buscar_texto{
        width: 250px;
    }
    #banner .ban{
        font-size: 48px;
      }
      #banner .l1{
        margin-top: 25px;
    }
    .logo{
        color: aliceblue;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .banner{
        margin-top: -170px;
        z-index: -1000;
    }
    .banner__content{
        font-size: 2em;
    }
    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__Address{
        color: aliceblue;
    }
    .main-nav{
        background: rgba(0, 0, 0, 0.85);
    }
    .column--50{
        width: 50%;
    }
    .column--50-25{
        width: 50%;
    }
    .main__about__descrition .column:nth-child(2){
        padding-left: 20px;
        font-size: 0.9em;
    }
    .main__about__descrition .btn{
        margin: 0;
    }
    .today-special .column{
        border: 5px solid #ddd;
        padding: 5px;
    }
    .today-special__img{
        height: 200px;
        object-fit: cover;
    }
    .column-33{
        width: 32%;
    }
    .main{
        padding-bottom: 15px;
    }
    .main-footer .container--flex{
        align-items: flex-start;
    }
}
@media screen and (min-width:768px){
    #banner{
        height: 300px;
        overflow: hidden;
      }
      #banner .i1{
        height: auto;
        margin-top: -100px;
    }
    .main__title{
        font-size: 2.2em;
    }
    .main__about__descrition{
        margin-top: 30px;
    }
    .main__about__descrition .column--50:nth-child(2){
        font-size: 1em;
    }
    .main__about__descrition .column--50:nth-child(2).column__txt{
        line-height: 30px;
    }
    .column--50-25{
        width: 25%;
    }
    .column__title{
        font-size: 2.1em;
    }
    .group__title{
        font-size: 2.2em;
    }
}
@media screen and (min-width:1024px){
    #banner{
        height: 300px;
        overflow: hidden;
      }
      #banner .i1{
        height: auto;
        margin-top: -200px;
    }
    .logo{
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone, .main-header__contactInfo__Address{
        padding-right: 10px;
        font-size: 1.15em;
    }
    .main-nav{
        padding: 0;
    }
    .banner__content{
        font-size: 2em;
    }
    .icon-menu{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link{
        padding: 20px;
    }
    .container{
        width: 1225px;
    }
    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title{
        font-size: 2.2em;
    }
    .main__about__descrition .column:nth-child(2).column__txt{
        line-height: 40px;
    }
    .today-special__title{
        font-size: 1.4em;
    }
    .today-special__price{
        font-size: 1em;
    }
    .main__about__descrition .column:nth-child(1).img1{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}
@media screen and (min-width:1600px){
    .container{
        width: 1400px;
    }
    .main__about__descrition .column:nth-child(1)img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .today-special__img{
        height: 300px;
    }
}
